* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

ul.myMenu > li {
  display: inline-block;
  width: 80px;
  padding: 5px 10px;
  background: #eee;
  border-right: 1px solid;
  text-align: center;
  position: relative;
}
ul.myMenu > li ul.submenu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
}
ul.myMenu:hover > li ul.submenu {
  display: block;
}
ul.myMenu > li ul.submenu > li {
  display: inline-block;
  width: 80px;
  padding: 5px 10px;
  background: #eee;
  border: 1px solid #eee;
}
ul.myMenu > li ul.submenu > li:hover {
  background: #fff;
}


footer {
    font-family: 'Noto Sans KR';
    background-color: #f8f8f8;
    padding-left: 10px;
    padding-bottom: 20px;
}

nav ul {
    margin: 0 30px;
    padding: 23px 0;
}

nav li {
    list-style: none;
    display: inline-block;
    line-height: 1.462em;
    text-align: center;
}

li>a {
    text-decoration: none;
    color: #666;
    font-weight: 1000;
    font-size: 13px;
    padding-left: 20px;
}

div>nav {
    text-align: center;
}

#information dl dt {
    float: left;
    padding-right: 5px;

}

dd {
    float: left;
    display: block;
    padding-right: 5px;
}

#information {
    margin: 0 30px;
    padding: 23px 0;
    list-style: none;
    font-size: 13px;
    color: #666;
    padding-left: 120px;
}

address {
    font-style: normal;
}

#check {
    color: #666;
}

hr {
    border-top: 1px;
}

#personal {
    color: #222;
    text-decoration: underline;
}

form {
    float: right;
}

form>select {
    background-color: transparent;
    width: 200px;
    height: 34px;
    color: #666;
    border: 1px solid #b4b3aa;
    font-family: 'Noto Sans KR';
}

button {
    width: 36px;
    height: 34px;
    font-size: 14px;
    color: #fff;
    background-color: #9e9e9e;
    border: 1px solid #b4b3aa;
    font-family: 'Noto Sans KR';
}

/* 폰트 */
* {font-family:'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif; font-size:100%; margin:0; padding:0; border:0; vertical-align:baseline; word-break:break-all;}
ul {list-style:none;}
a {color:inherit; text-decoration:none;}
textarea:focus, select:focus, button:focus, [type='checkbox']:focus, [type='radio']:focus, [tabindex]:focus, [href]:focus {outline:3px solid #ead3d7;}

/* 센터 */
#contaniner {width:980px; height:100%; margin:0 auto}

/* 이미지 */
.img_wrap{position:relative; overflow:hidden}
.img_wrap > img{position:absolute; left:0; top:50%; width:100%; height:100%; object-fit:cover; transform:translate(0, -50%)}
.img_wrap:hover > img{transform:scale(1.1) translate(0, -45%); transition:all 0.5s}

/* 기프티콘 */
.giftcon_wrap{padding:60px 0 0}
.giftcon_list_wrap{display:flex; overflow:hidden}
.giftcon_list_wrap > li{float:left; width:270px; padding:20px 19px 30px; border:1px solid #e4e4e4; border-radius:10px}
.giftcon_list_wrap > li ~ li{margin-left:25px}
.giftcon_list dt{display:flex; justify-content:space-between; align-items:center; font-weight:500; font-size:20px; color:#222; line-height:1.450em}
.giftcon_list dt .btn_more{padding:2px 15px 3px; font-weight:400; font-size:12px; color:#666; line-height:1.417em; border:1px solid #f4f4f4; border-radius:11px}
.giftcon_list dt + dd{margin-top:27px}
.giftcon_list dd{margin-top:20px;}
.giftcon_list dd a{display:flex; justify-content:left; align-items:center}
.giftcon_list dd a .img_wrap{position:relative; width:75px; height:76px; border-radius:5px}
.giftcon_list dd a .giftcon_info_wrap{display:inline-flex; flex-direction:column; padding-left:15px}
.giftcon_list dd a .giftcon_info_wrap span{font-weight:500; font-size:14px; color:#222; line-height:1.429em}
.giftcon_list dd a .giftcon_info_wrap strong{font-weight:700; font-size:16px; color:#222; letter-spacing:-0.020em; line-height:1.444em}

/* 공지사항 */
.noticeClient_wrap{padding:30px 0 120px}
.noticeClient_wrap .contents:after{content:''; clear:both; display:block; font-size:0; line-height:0}
.noticeClient_wrap .contents .noticeClient_container{display:flex; float:left; width:736px; height:236px; border:1px solid #e4e4e4; border-radius:10px}
.noticeClient_wrap .contents .noticeClient_container .noticeClient_content{width:460px; padding:24px 26px 20px 30px}
.noticeClient_wrap .contents .noticeClient_container .noticeClient_content .notice_wrap{display:block; padding-bottom:21px; border-bottom:1px solid #f4f4f4}
.noticeClient_wrap .contents .noticeClient_container .noticeClient_content .notice_wrap:after{content:''; clear:both; display:block; font-size:0; line-height:0}
.noticeClient_wrap .contents .noticeClient_container .noticeClient_content .notice_wrap strong{float:left; font-weight:500; font-size:16px; color:#222; line-height:1.500em}
.noticeClient_wrap .contents .noticeClient_container .noticeClient_content .notice_wrap .btn_link{float:left; overflow:hidden; max-width:300px; margin-top:2px; margin-left:28px; font-size:12px; color:#222; line-height:1.429em; text-overflow:ellipsis; white-space:nowrap}
.noticeClient_wrap .contents .noticeClient_container .noticeClient_content .notice_wrap .btn_more{float:right; padding:2px 15px 3px; font-weight:400; font-size:10px; color:#666; line-height:1.417em; border:1px solid #f4f4f4; border-radius:11px}

/* .client_wrap{} */
.client_wrap .client_list{display:flex; padding:19px 0 22px}
.client_wrap .client_list dt{font-weight:500; font-size:16px; color:#222; line-height:1.500em}
.client_wrap .client_list dd{overflow:hidden; padding-left:28px}
.client_wrap .client_list dd strong{display:block; font-weight:700; font-size:14px; color:#222; line-height:1.714em}
.client_wrap .client_list dd span{display:block; font-size:14px; color:#222; line-height:1.714em}
.client_wrap .client_list dd p{display:block; font-size:14px; color:#666; line-height:1.714em}
.client_wrap .client_btn_wrap{display:flex}
.client_wrap .client_btn_wrap a{padding:7px 14px; font-size:14px; color:#222; line-height:1.429em; background-color:#f6f6f6; border-radius:5px}
.client_wrap .client_btn_wrap a ~ a{margin-left:10px}

.noticeClient_wrap .contents .noticeClient_container .qr_wrap{display:flex; flex-direction:column; width:222px; text-align:center; border-left:1px solid #e4e4e4}
.noticeClient_wrap .contents .noticeClient_container .qr_wrap strong{display:block; margin-top:24px; font-weight:500; font-size:16px; color:#222; line-height:1.500em}
.noticeClient_wrap .contents .noticeClient_container .qr_wrap span{display:block; width:100%; margin-top:5px; font-size:12px; color:#222; line-height:1.250em}
.noticeClient_wrap .contents .noticeClient_container .qr_wrap .img_wrap{width:60px; height:60px; margin:29px auto 0}
.noticeClient_wrap .contents .noticeClient_container .qr_wrap p{margin-top:24px; font-size:12px; color:#666; letter-spacing:-0.030em; line-height:1.417em}
.noticeClient_banner_wrap{float:right; overflow:hidden; position:relative; width:211px; height:238px; border-radius:10px}

#rogo{padding: 20px; float: left;}
        
#main{float: right; padding: 20px;}

#head{display:flex; align-items:center}
#head li{margin-left:44px; margin-top:2px}
#head li:first-child{margin-left:0}
#head li a{display:block; position:relative; padding-bottom:19px}
#head li a img{width:36px; height:36px}
#head li a span{position:absolute; bottom:0; left:70%; font-size:13px; color:#666; line-height:1.462em; white-space:nowrap; transform:translate(-50%, 0)}
#head #card{width:136px; height:39px; margin-top:5px}
#head #card {margin-left:34px}
#head #card li a{width:100%; height:100%; padding-bottom:0}
#head #card li a img{width:100%; height:100%}

#menu {clear: both;}