<!doctype html>
<html>
<head>
    <title>드롭다운 메뉴</title>
    <link href="/css/category.css" rel="stylesheet">
</head>

<body>

<div id="container">
<ul class="myMenu">
    <li class="menu">
        영화
        <ul class="menu_s submenu">
            <li>영화</li>
            <li>무비차트</li>
            <li>아트하우스</li>
            <li>ICECON</li>
        </ul>
    </li>
    <li class="menu">
        극장
        <ul class="menu_s submenu">
            <li>극장</li>
            <li>CGV 극장</li>
            <li>특별관</li>
        </ul>   
    </li>
    <li class="menu">
        예매
        <ul class="menu_s submenu">
            <li>빠른예매</li>
            <li>상영스케줄</li>
            <li>English Ticketing</li>
            <li>English Schedule</li>
        </ul>   
    </li>
    <li class="menu">
        스토어
        <ul class="menu_s submenu">
            <li>스토어</li>
            <li>영화관람권</li>
            <li>기프트카드</li>
            <li>콤보</li>
            <li>팝콘</li>
            <li>음료</li>
            <li>스낵</li>
            <li>플레이존</li>
            <li>씨네샵</li>
        </ul>
    </li>
    <li class="menu">
        이벤트
        <ul class="menu_s submenu">
            <li>SPECIAL</li>
            <li>영화/예매</li>
            <li>멤버십/CLUB</li>
            <li>CGV 극장별</li>
            <li>제휴할인</li>
            <li>당첨자 발표</li>
            <li>종료된 이벤트</li>
        </ul>
    </li>   
    <li class="menu">혜택 
        <ul class="menu_s submenu">
            <li>CGV 할인정보</li>
            <li>CLUB 서비스</li>
            <li>VIP</li>
        </ul>
    </li>
</ul>
</div>
</body>
</html>